:root {
	--main-bg-white: #fcfaf8;
	--main-bg-black: #1b1c20;
	--white: #ffffff;
	--less-white: #e9e9e9;
	--black: #000000;
	--gray: #515151;
	--white-gray: #eeeeee;
	--black-gray: #474747;
	--primary: #f7b602;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Noto Sans Display", sans-serif;
	font-family: "Nunito", sans-serif;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	display: block;
}
.burger-btn {
	width: 45px;
	height: 45px;
	display: none;
	flex-direction: column;
	justify-content: space-around;
}
.burger-btn__line {
	width: 100%;
	height: 5px;
	background-color: var(--black);
	border-radius: 5px;
}
.icon__show {
	background-image: url(./svg/show.svg);
	background-repeat: no-repeat;
	width: 16px;
	height: 11px;
}
.icon__heart {
	background-image: url(./svg/heart_outline.svg);
	background-repeat: no-repeat;
	width: 17px;
	height: 15px;
}
.icon__comment {
	background-image: url(./svg/comment.svg);
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
}
.container {
	max-width: 1110px;
	width: 100%;
	margin: 0 auto;
}
.page {
	background-color: var(--main-bg-white);
}
.page_white {
	background-color: var(--white);
}
.page_black {
	background-color: var(--main-bg-black);
}
.page_primary {
	background-color: var(--primary);
}

.header {
	height: 65px;
}
.nav {
	height: 100%;
}

.logo__text {
	font-weight: bold;
	font-size: 24px;
	color: var(--black);
}
.logo__text_primary {
	color: var(--primary);
}
.link {
	text-decoration: none;
}
.nav__links-block {
	flex-shrink: 0;
	margin: 0 45px;
}
.nav__auth-block {
	flex-shrink: 0;
	margin-left: 45px;
}
.nav-header__link {
	font-weight: normal;
	font-size: 16px;
	color: var(--black);
}
.nav-header__link_link-margin {
	margin-right: 45px;
}
.nav-header__link_link-margin:last-child {
	margin-right: 0;
}
.nav-header__link_auth-margin {
	margin-right: 30px;
}
.nav-header__link_auth-margin:last-child {
	margin-right: 0;
}
.search-form_block {
	max-width: 380px;
	width: 100%;
}
.search-form__input {
	background-color: var(--white-gray);
	border: none;
	border-radius: 37px;
	height: 35px;
	width: 100%;
}
.initial-block {
	min-height: 680px;
	height: 100%;
}
.row {
	display: flex;
	justify-content: space-between;
}
.row_parent-height {
	min-height: inherit;
}
.row_align-center {
	align-items: center;
}
.initial__tagline-text {
	font-weight: 800;
	font-size: 56px;
	color: var(--white);
}
.initial__tagline-block {
	max-width: 700px;
	width: 100%;
}

.btn {
	border-radius: 8px;
	border: none;
}
.btn_primary {
	background-color: var(--primary);
}
.initial__btn {
	border-radius: 38px;
}
.btn_text-20 {
	font-weight: 600;
	font-size: 20px;
}
.initial__btn-block {
	margin-top: 40px;
	padding: 10px 45px;
}
.initial__img {
	background-image: url(./images/backgroundStart.png);
	background-position: right;
	background-repeat: no-repeat;
}
.columns-4 {
	flex: 1 1 25%;
}
.columns-2 {
	flex: 1 1 50%;
}
.columns-1 {
	flex: 1 1 100%;
}
.title {
	font-weight: bold;
	font-size: 36px;
	text-align: center;
}
.card {
	background-color: var(--white);
	padding: 20px 20px 15px 20px;
	border-radius: 10px;
}
.card_shadow {
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.06);
}
.card__view-block {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.card__image-block {
	width: 100%;
	margin-bottom: 10px;
}
.card__rating-block {
	margin-top: 10px;
}
.image_res-215x215 {
	object-position: 0 0;
	max-width: 215px;
	max-height: 215px;
	width: 100%;
	height: 100%;
}
.image_res-540x540 {
	object-fit: cover;
	object-position: 0 0;
	max-width: 540px;
	max-height: 540px;
	/* width: 100%; */
	height: 100%;
}
.image_res-540x255 {
	object-fit: cover;
	object-position: 0 0;
	max-width: 540px;
	max-height: 255px;
	width: 100%;
	height: 100%;
}
.image_res-255x255 {
	object-fit: cover;
	object-position: 0 0;
	max-width: 255px;
	max-height: 255px;
	width: 100%;
	height: 100%;
}
.image_res-310x236 {
	object-fit: cover;
	object-position: 0 0;
	max-width: 310px;
	max-height: 236px;
	width: 100%;
	height: 100%;
}
.card__title {
	font-weight: 600;
	font-size: 20px;
}
.card__creator {
	font-weight: normal;
	font-size: 12px;
}
.card__counter {
	font-weight: normal;
	font-size: 12px;
	margin-left: 8px;
}
.title-block {
	margin-bottom: 32px;
}
.section_big-top-padding {
	padding-top: 90px;
}
.section_small-top-padding {
	padding-top: 90px;
}
.section_small-bottom-padding {
	padding-bottom: 80px;
}
.section_big-bottom-padding {
	padding-bottom: 110px;
}
.image-card {
	position: relative;
}
.image-card__btn {
	position: absolute;
	bottom: 20px;
	left: 20px;
	text-align: left;
	border-radius: 4px;
}
.image-card__btn_big {
	padding: 10px;
}
.image-card__btn_small {
	padding: 5px 10px;
}
.btn_text-26 {
	font-weight: 600;
	font-size: 26px;
}
.image-card_right-margin {
	margin-right: 30px;
}

.image-card_bottom-margin {
	margin-bottom: 30px;
}
.text_white {
	color: var(--white);
}
.footer {
	min-height: 90px;
	padding: 10px 0;
}
.footer__link {
	font-weight: 300;
	font-size: 20px;
}
.footer__link_link-margin {
	margin-right: 50px;
}
.footer__link_link-margin:last-child {
	margin-right: 0;
}
.footer__company-block {
	text-align: right;
}
.footer__project-name {
	font-weight: 400;
	font-size: 20px;
	color: var();
}
.footer__company-name {
	font-weight: 400;
	font-size: 16px;
}
.card_trending-margin {
	margin-right: 30px;
}

@media screen and (max-width: 1150px) {
	.row_wrap-1150px {
		flex-wrap: wrap;
	}
	.container {
		width: 90%;
		/* padding: 0 30px; */
	}
	.columns-2-1150px {
		flex: 1 0 50%;
	}
	.columns-1-1150px {
		flex: 1 0 100%;
	}
	.card__image-block {
		flex: 1 0 40%;
	}
	.card__image {
		width: 100%;
	}
	.card_left {
		margin: 0 15px 30px auto;
	}
	.card_right {
		margin: 0 auto 30px 15px;
	}

	.image-card__image {
		width: 100%;
	}

	.image-card {
		width: 100%;
	}

	.image_res-215x215 {
		max-width: none;
		max-height: none;
	}
	.image_res-540x540 {
		max-width: none;
		max-height: none;
	}
	.image_res-540x255 {
		max-width: none;
		max-height: none;
	}
	.image_res-255x255 {
		max-width: none;
		max-height: none;
	}
	.image_res-310x236 {
		max-width: none;
		max-height: none;
	}
	.columns-1-1150px {
		flex: 1 0 100%;
	}
	.image-card_bottom-margin-1150px {
		margin-bottom: 30px;
	}
	.card__counter_trending-1150px {
		font-size: 24px;
	}
	.card__title_trending-1150px {
		font-size: 40px;
	}
	.card__creator_trending-1150px {
		font-size: 24px;
	}
	.icon__show_popular-1150px {
		width: 24px;
		height: 16.5px;
		background-size: cover;
	}
	.card__counter_popular-1150px {
		font-size: 16px;
	}
	.card__title_popular-1150px {
		font-size: 30px;
	}
	.card__creator_popular-1150px {
		font-size: 18px;
	}
	.icon__heart_popular-1150px {
		width: 25.5px;
		height: 22.5px;
		background-size: cover;
	}
	.icon__comment_popular-1150px {
		width: 22.5px;
		height: 22.5px;
		background-size: cover;
	}
}
@media screen and (max-width: 992px) {
	.row_wrap-992px {
		flex-wrap: wrap;
	}
	.columns-1-992px {
		flex: 1 0 100%;
	}
	.card_trending-margin {
		margin-right: 0;
		margin-bottom: 30px;
	}
	.column-992px {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.footer > div {
		margin-bottom: 15px;
	}
	.icon__show_992px {
		width: 32px;
		height: 22px;
		background-size: cover;
	}
	.card__counter_992px {
		font-size: 24px;
	}
	.card__title_992px {
		font-size: 40px;
	}
	.card__creator_992px {
		font-size: 32px;
	}
	.icon__heart_992px {
		width: 34px;
		height: 30px;
		background-size: cover;
	}
	.icon__comment_992px {
		width: 30px;
		height: 30px;
		background-size: cover;
	}
}
@media screen and (max-width: 772px) {
	.burger__elem {
		display: none;
	}
	.columns-1-772px {
		flex: 1 0 100%;
	}
	.card_left {
		margin: 0 0 30px 0;
	}
	.card_right {
		margin: 0 0 30px 0;
	}
	.initial__tagline-text_shadow-772px {
		text-shadow: 4px 4px 10px black;
	}
	.footer__link_link-margin {
		margin-right: 0;
		margin-bottom: 10px;
	}
	.footer__links-block {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.burger-btn {
		display: flex;
	}
}
